<a href="https://colab.research.google.com/github/AdamaTG/code_nrm/blob/komlan/scrpit_NRM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from IPython.display import display
from datetime import datetime
import nltk
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
import re

stemmer = WordNetLemmatizer()
sns.set_style("whitegrid")
%matplotlib inline

In [0]:
train = pd.read_excel('keywords_file.xlsx',  sheet_name='SDG 1', skiprows=1, header=1)

In [8]:
train.head()

                                             Targets  ...                                  Proposed Keywords
0  1.1. By 2030, eradicate extreme poverty for al...  ...         Poverty\nEmployment\nMoney, Monetary means
1  1.2 . By 2030, reduce at least by half the pro...  ...                 Income\nSalary\nminimum wage\ncash
2                                                NaN  ...  impoverished women \nimpoverished chilren\nchi...
3  1.3. Implement nationally appropriate social p...  ...  Social Protection Schemes\nSocial Services\nJo...
4  1.4 . By 2030, ensure that all men and women, ...  ...  Basic Services\nLand ownership\nHouse ownershi...

[5 rows x 3 columns]

In [9]:
train.tail()

                                              Targets  ...                                  Proposed Keywords
7                                                 NaN  ...                          economic loss\nasset loss
8                                                 NaN  ...                           disaster risk management
9   1.A. Ensure significant mobilization of resour...  ...  government subsidies services such as:\ngovern...
10                                                NaN  ...  government funded programs\ngovernment subsidi...
11  1.B. Create sound policy frameworks at the nat...  ...  pro-poor development strategies\nGender sensit...

[5 rows x 3 columns]

In [0]:
Indicators = train.iloc[:,1]

In [11]:
# Extract the first string in each row of column Indicators
comb = []
for rows in Indicators:
  text_tokens = rows.split(" ")
  rint = text_tokens[0]
  comb.append(rint)
 
comb

['1.1.1.',
 '1.2.1.',
 '1.2.2.',
 '1.3.1.',
 '1.4.1.',
 '1.4.2.',
 '1.5.1.',
 '1.5.2.',
 '1.5.3.',
 '1.A.1.',
 '1.A.2.',
 '1.B.1.']

In [12]:
# convert list to dataframe
new_ind = pd.DataFrame(comb)
new_ind

         0
0   1.1.1.
1   1.2.1.
2   1.2.2.
3   1.3.1.
4   1.4.1.
5   1.4.2.
6   1.5.1.
7   1.5.2.
8   1.5.3.
9   1.A.1.
10  1.A.2.
11  1.B.1.

In [0]:
train.loc[:,'Indicators'] = new_ind # Replace Indicators by the new Indicators

In [14]:
train

                                              Targets  ...                                  Proposed Keywords
0   1.1. By 2030, eradicate extreme poverty for al...  ...         Poverty\nEmployment\nMoney, Monetary means
1   1.2 . By 2030, reduce at least by half the pro...  ...                 Income\nSalary\nminimum wage\ncash
2                                                 NaN  ...  impoverished women \nimpoverished chilren\nchi...
3   1.3. Implement nationally appropriate social p...  ...  Social Protection Schemes\nSocial Services\nJo...
4   1.4 . By 2030, ensure that all men and women, ...  ...  Basic Services\nLand ownership\nHouse ownershi...
5                                                 NaN  ...                                   Land entitlement
6   1.5. By 2030, build the resilience of the poor...  ...  climate-resilience\nenvironmental shocks\nclim...
7                                                 NaN  ...                          economic loss\nasset loss
8                                                 NaN  ...                           disaster risk management
9   1.A. Ensure significant mobilization of resour...  ...  government subsidies services such as:\ngovern...
10                                                NaN  ...  government funded programs\ngovernment subsidi...
11  1.B. Create sound policy frameworks at the nat...  ...  pro-poor development strategies\nGender sensit...

[12 rows x 3 columns]

In [15]:
target = []
for l in train.iloc[:,0]:
  ligne = str(l)
  tab = list(ligne.split(" "))
  target.append(tab[0])

['1.1.',
 '1.2',
 'nan',
 '1.3.',
 '1.4',
 'nan',
 '1.5.',
 'nan',
 'nan',
 '1.A.',
 'nan',
 '1.B.']

In [0]:
# Supression des "nan" et harmonisation de la notation 'e.g 1.1.'
tgt = target;
taille = range(0, len(tgt))
for t in taille:
  if tgt[t]=="nan":
    tgt[t]=tgt[t-1]
  stgt = list(tgt[t])
  if stgt[-1]!=".":
    tgt[t] = tgt[t]+"."

In [17]:
frame = pd.DataFrame(tgt)
train.loc[:,'Targets'] = frame
train

   Targets Indicators                                  Proposed Keywords
0     1.1.     1.1.1.         Poverty\nEmployment\nMoney, Monetary means
1     1.2.     1.2.1.                 Income\nSalary\nminimum wage\ncash
2     1.2.     1.2.2.  impoverished women \nimpoverished chilren\nchi...
3     1.3.     1.3.1.  Social Protection Schemes\nSocial Services\nJo...
4     1.4.     1.4.1.  Basic Services\nLand ownership\nHouse ownershi...
5     1.4.     1.4.2.                                   Land entitlement
6     1.5.     1.5.1.  climate-resilience\nenvironmental shocks\nclim...
7     1.5.     1.5.2.                          economic loss\nasset loss
8     1.5.     1.5.3.                           disaster risk management
9     1.A.     1.A.1.  government subsidies services such as:\ngovern...
10    1.A.     1.A.2.  government funded programs\ngovernment subsidi...
11    1.B.     1.B.1.  pro-poor development strategies\nGender sensit...