<a href="https://colab.research.google.com/github/AdamaTG/code_nrm/blob/adama/scrpit_NRM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from IPython.display import display
from datetime import datetime
import nltk
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
import re

stemmer = WordNetLemmatizer()
sns.set_style("whitegrid")
%matplotlib inline

In [0]:
train = pd.read_excel('keywords_file.xlsx',  sheet_name='SDG 1', skiprows=1, header=1)

In [214]:
train.head()

                                             Targets  ...                                  Proposed Keywords
0  1.1. By 2030, eradicate extreme poverty for al...  ...         Poverty\nEmployment\nMoney, Monetary means
1  1.2 . By 2030, reduce at least by half the pro...  ...                 Income\nSalary\nminimum wage\ncash
2                                                NaN  ...  impoverished women \nimpoverished chilren\nchi...
3  1.3. Implement nationally appropriate social p...  ...  Social Protection Schemes\nSocial Services\nJo...
4  1.4 . By 2030, ensure that all men and women, ...  ...  Basic Services\nLand ownership\nHouse ownershi...

[5 rows x 3 columns]

In [0]:
#train.tail()

In [0]:
def preprocess_col_targets(column):
    target = []
    for l in column:
        ligne = str(l)
        tab = ligne.split(" ")
        target.append(tab[0])
        
    tgt = target;
    taille = range(0, len(tgt))
    for t in taille:
      if tgt[t]=="nan":
        tgt[t]=tgt[t-1]
      stgt = list(tgt[t])
      if stgt[-1]!=".":
        tgt[t] = tgt[t]+"."
    frame = pd.DataFrame(tgt)

    return frame;

In [0]:
train.loc[:,'Targets'] =  preprocess_col_targets(train.iloc[:,0])

In [0]:
def preprocess_col_indicators(indicators):
  # Extract the first string in each row of column Indicators
  comb_ind = []
  for rows in indicators:
    rows_split = rows.split(" ")
    comb_ind.append(rows_split[0])
    
  #convert list to dataframe and Replace Indicators by the new Indicators
  indicators = pd.DataFrame(comb_ind)

  return indicators

In [0]:
train.loc[:,'Indicators'] =  preprocess_col_indicators(train.iloc[:,1])

In [0]:
def preprocess_col_prop_keywords(prop_keywds):
  # Extract the first string in each row of column Indicators
  prop_comb = []
  for prows in prop_keywds:
    t3 = prows.replace("\n", ",")
    prop_comb.append(t3)
    
  #convert list to dataframe and Replace Indicators by the new Indicators
  prop_keywds = pd.DataFrame(prop_comb)

  return prop_comb

In [0]:
train.iloc[:,2] =  preprocess_col_prop_keywords(train.iloc[:,2])

In [222]:
train

   Targets Indicators                                  Proposed Keywords
0     1.1.     1.1.1.           Poverty,Employment,Money, Monetary means
1     1.2.     1.2.1.                    Income,Salary,minimum wage,cash
2     1.2.     1.2.2.  impoverished women ,impoverished chilren,child...
3     1.3.     1.3.1.  Social Protection Schemes,Social Services,Jobs...
4     1.4.     1.4.1.  Basic Services,Land ownership,House ownership,...
5     1.4.     1.4.2.                                   Land entitlement
6     1.5.     1.5.1.  climate-resilience,environmental shocks,climat...
7     1.5.     1.5.2.                           economic loss,asset loss
8     1.5.     1.5.3.                           disaster risk management
9     1.A.     1.A.1.  government subsidies services such as:,governm...
10    1.A.     1.A.2.  government funded programs,government subsidie...
11    1.B.     1.B.1.  pro-poor development strategies,Gender sensiti...